<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema emprestimo - Dashboard</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/datepicker3.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/personal.css" rel="stylesheet">
    <link rel="icon" href="/img/nav-brand.png">
    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<script src="/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <% include components/navbar %>
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

            <div class="row">
                <ol class="breadcrumb">
                    <li>
                        <a href="/dasboard/index">
                            <em class="fa fa-home"></em>
                        </a>
                    </li>
                    <li class="active">Novo Emprestimo</li>
                </ol>
            </div>
            <!--/.row-->

            <div class="row">
                <div class="col-lg-11 col-md-11">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Formulário para emprestimo de equipamento
                        </div>
                        <br>
                        <div class="panel-body">
                            <div id="mensagens"></div>
                            <form id="formEquipamento" class="form-horizontal">
                                <fieldset>
                                    <!-- Nome input-->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-offset-2 col-md-8">
                                                <input id="emailEmprestimo" type="text" placeholder="Email do usuário que o equipamento será emprestado" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divResults">
                                        <div class="row">
                                            <div class="col-md-offset-2 col-md-8" id="resultadosPesquisa">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- Código total-->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-offset-2 col-md-8">
                                                <input id="pesquisarEquipamento" class="form-control" type="text" placeholder="Nome ou código do equipamento">
                                            </div>
                                            <div class="col-md-2">
                                                <button id="btnPesquisar" class="btn btn-default">
                                                    <span class="fa fa-search"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Quantidae total-->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-offset-2 col-md-8">
                                                <input id="qntdTotal" name="name" type="number" placeholder="Quantidade a ser emprestada" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Form actions -->
                                    <div class="form-group">
                                        <div class="col-md-12 widget-right">
                                            <button type="submit" class="btn btn-default btn-md pull-right">Realizar emprestimo</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    </disv>
                </div>
                <!--/.row-->



            </div>
            <!--/.main-->

            <script src="/js/jquery-1.11.1.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script>
                function realizarEmprestimo(email, equipamento, qntdEquipamento) {
                    $.ajax({
                        url: "/dashboard/realizar-emprestimo",
                        type: "post",
                        data: {
                            email,
                            equipamento,
                            qntdEquipamento
                        },
                        success: function (data) {
                            if (data.erro) {
                                let html = `<div class="alert alert-danger alert-dismissible" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <center>${data.msg}</center>
                                                </div>`;
                                $('#mensagens').append(html);
                            }
                            if(data.status){
                                let html = `<div class="alert alert-success alert-dismissible" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <center>${data.msg}</center>
                                                </div>`;
                                $('#mensagens').append(html);
                                $('#formEquipamento').each(function () {
                                    this.reset();
                                });
                                return;
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Status: " + textStatus); alert("Error: " + errorThrown);
                        }
                    });
                }

                $(document).ready(function () {
                    $('#divResults').hide();
                    $('#btnPesquisar').click(function(event) {
                        event.preventDefault();
                        let valorPesquisa = $('#pesquisarEquipamento').val();
                        $.ajax({
                            url: "/dashboard/buscar-equipamento",
                            type: "post",
                            data: {
                                valorPesquisa
                            },
                            success: function (data) {
                                if(data.erro){
                                    $('#resultadosPesquisa').empty();
                                    let html = `<center><p>${data.msg}</p></center>`;
                                    $('#divResults').show();
                                    $('#resultadosPesquisa').append(html);
                                    return;
                                }
                                let html = "";
                                for(let i=0; i<data.length; i++){
                                    html += `<div class="radio">
                                                <label><input value="${data[i].nome}" type="radio" name="optradio">${data[i].nome}</label>
                                            </div>`;
                                }
                                $('#resultadosPesquisa').empty();
                                $('#divResults').show();
                                $('#resultadosPesquisa').append(html);
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert("Status: " + textStatus); alert("Error: " + errorThrown);
                            }
                        });
                    });
                    $('#formEquipamento').submit(function (event) {
                        event.preventDefault();
                        $('#mensagens').empty();
                        let email = $('#emailEmprestimo').val();
                        let equipamento = $('input[name=optradio]:checked').val();
                        let qntdEquipamento = $('#qntdTotal').val();
                        realizarEmprestimo(email, equipamento, qntdEquipamento);
                    }); 
                });
            </script>
</body>
</html>